.comment-controls {
  display: flex;
  justify-content: space-between;
}

.comment-wrapper,
.response-wrapper {
  border-bottom: 1px solid black;
}

.response-wrapper {
  width: 500px;
  margin-left: 42px;
}

.response-text {
  font-size: 14px;
}
